@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

@keyframes show {
    from {
      transform: translateY(1000px);
    }
    to {
      transform: translateY(0);
    }
}

@keyframes drop {
  from {
    transform: translateY(-1000px);
  } to {
    transform: translateY(0);
  }
}

@keyframes photo { 
  0% { transform: scale(1); }
  100% { transform: scale(1.4) translateX(-100px) translateY(0px) rotate(5deg); }
}
