@mixin block-size($width, $height) {
    box-sizing: border-box;
    width: $width;
    height: $height;
}

@mixin shadowbox() {
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
}

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin on-circle($item-count, $circle-size, $item-size) {
    position: relative;
    width:  $circle-size;
    height: $circle-size;
    padding: 0;
    border-radius: 50%;  
    
    > * {
        display: block;
        position: absolute;
        top:  50%; 
        left: 50%;
        width:  $item-size;
        height: $item-size;
        margin: -($item-size / 2);
        
        $angle: (360 / $item-count);
        $rot: 0;
    
        @for $i from 1 through $item-count {
            &:nth-of-type(#{$i}) {
            transform: 
                rotate($rot * 1deg) 
                translate($circle-size / 2) 
                rotate($rot * -1deg);
            }
    
            $rot: $rot + $angle;
        }
    }
}