* {
  box-sizing: border-box;
 }

 *:before,
 *:after {
  box-sizing: border-box;
 }

 html,
 body {
  height: 100%;
  position: relative;
 }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: yellow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './sass/variables';
@import './sass/mixins';
@import './sass/animations';

@import './sass/components/app';
@import './sass/components//mainLayout';

@import './sass/components/homepage';
@import './sass/components/about';
@import './sass//components/work';

@import './sass/components/navbar';
@import './sass/components/footer';

@import './sass/components/message'; 
@import './sass/components/photo';
@import './sass/components/chat';



